<!DOCTYPE html>
<html>
<head>
    <title>Nouvelle demande de congé</title>
</head>
<body>
    <h2>Nouvelle demande de congé enregistrée</h2>
    
    <p>Détails de la demande :</p>
    
    <ul>
        <li>Type de congé : {{ demande.typeConge }}</li>
        <li>Date de début : {{ demande.dateDebut|date('d/m/Y') }}</li>
        <li>Date de fin : {{ demande.dateFin|date('d/m/Y') }}</li>
        <li>Statut : {{ demande.statut }}</li>
        {% if demande.employe %}
        <li>Employé : {{ demande.employe.prenom }} {{ demande.employe.nom }}</li>
        {% endif %}
    </ul>

    <p>Cordialement,<br>L'équipe des Ressources Humaines</p>
</body>
</html>