{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<table>
    {% for field in form %}
        {% if field.vars.block_prefixes is not defined or 'hidden' not in field.vars.block_prefixes %}
            <tr>
                <td>{{ form_label(field) }}</td>
                <td>{{ form_widget(field) }}</td>
                <td>
                    {% if field.vars.errors|length > 0 %}
                        {% for error in field.vars.errors %}
                            <div style="color: red;">{{ error.message }}</div>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}

    {# ADD THIS! #}
    {{ form_row(form._token) }}

    <tr>
        <td colspan="3" style="text-align: right;">
            <button type="submit">Update</button>
        </td>
    </tr>
</table>
{{ form_end(form) }}
